<!DOCTYPE html>
<html lang="en">
    <%- include('./elements/layouts/head') %>
    <body>
        <%- include('./elements/layouts/header') %>
        
        <main class="main">
            <div class="main-container">
                <%- body %>
            </div>
        </main>
        
        <%- include('./elements/layouts/footer') %>
        
        <%- script %>
    </body>
</html>